[submodule ".vim/pack/bundle/start/webapi-vim"]
	path = .vim/pack/bundle/start/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule ".vim/pack/bundle/start/vim-vinegar"]
	path = .vim/pack/bundle/start/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule ".asdf"]
	path = .asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule ".vim/pack/bundle/start/splitjoin.vim"]
	path = .vim/pack/bundle/start/splitjoin.vim
	url = https://github.com/AndrewRadev/splitjoin.vim
[submodule ".vim/pack/bundle/start/switch.vim"]
	path = .vim/pack/bundle/start/switch.vim
	url = https://github.com/AndrewRadev/switch.vim
[submodule ".vim/pack/bundle/start/iceberg.vim"]
	path = .vim/pack/bundle/start/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule ".vim/pack/bundle/start/ctrlp.vim"]
	path = .vim/pack/bundle/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule ".vim/pack/bundle/start/vim"]
	path = .vim/pack/bundle/start/vim
	url = https://github.com/dracula/vim
[submodule ".vim/pack/bundle/start/editorconfig-vim"]
	path = .vim/pack/bundle/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule ".vim/pack/bundle/start/tmuxline.vim"]
	path = .vim/pack/bundle/start/tmuxline.vim
	url = https://github.com/edkolev/tmuxline.vim
[submodule ".vim/pack/bundle/start/vim-go"]
	path = .vim/pack/bundle/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule ".vim/pack/bundle/start/vim-ripgrep"]
	path = .vim/pack/bundle/start/vim-ripgrep
	url = https://github.com/jremmen/vim-ripgrep
[submodule ".vim/pack/bundle/start/emmet-vim.git"]
	path = .vim/pack/bundle/start/emmet-vim.git
	url = https://github.com/mattn/emmet-vim.git
[submodule ".vim/pack/bundle/start/gist-vim"]
	path = .vim/pack/bundle/start/gist-vim
	url = https://github.com/mattn/gist-vim
[submodule ".vim/pack/bundle/start/vim-rubocop"]
	path = .vim/pack/bundle/start/vim-rubocop
	url = https://github.com/ngmy/vim-rubocop
[submodule ".vim/pack/bundle/start/readline.vim"]
	path = .vim/pack/bundle/start/readline.vim
	url = https://github.com/ryvnf/readline.vim
[submodule ".vim/pack/bundle/start/vim-polyglot"]
	path = .vim/pack/bundle/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule ".vim/pack/bundle/start/vim-exchange.git"]
	path = .vim/pack/bundle/start/vim-exchange.git
	url = https://github.com/tommcdo/vim-exchange.git
[submodule ".vim/pack/bundle/start/vim-abolish"]
	path = .vim/pack/bundle/start/vim-abolish
	url = https://github.com/tpope/vim-abolish
[submodule ".vim/pack/bundle/start/vim-bundler"]
	path = .vim/pack/bundle/start/vim-bundler
	url = https://github.com/tpope/vim-bundler
[submodule ".vim/pack/bundle/start/vim-characterize"]
	path = .vim/pack/bundle/start/vim-characterize
	url = https://github.com/tpope/vim-characterize
[submodule ".vim/pack/bundle/start/vim-commentary"]
	path = .vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/bundle/start/vim-dispatch"]
	path = .vim/pack/bundle/start/vim-dispatch
	url = https://github.com/tpope/vim-dispatch
[submodule ".vim/pack/bundle/start/vim-endwise"]
	path = .vim/pack/bundle/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/pack/bundle/start/vim-eunuch"]
	path = .vim/pack/bundle/start/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/bundle/start/vim-markdown"]
	path = .vim/pack/bundle/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/pack/bundle/start/vim-projectionist"]
	path = .vim/pack/bundle/start/vim-projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule ".vim/pack/bundle/start/vim-rails"]
	path = .vim/pack/bundle/start/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/pack/bundle/start/vim-rake"]
	path = .vim/pack/bundle/start/vim-rake
	url = https://github.com/tpope/vim-rake
[submodule ".vim/pack/bundle/start/vim-repeat"]
	path = .vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/bundle/start/vim-sleuth"]
	path = .vim/pack/bundle/start/vim-sleuth
	url = https://github.com/tpope/vim-sleuth
[submodule ".vim/pack/bundle/start/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/bundle/start/vim-tbone"]
	path = .vim/pack/bundle/start/vim-tbone
	url = https://github.com/tpope/vim-tbone
[submodule ".vim/pack/bundle/start/vim-unimpaired"]
	path = .vim/pack/bundle/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule ".vim/pack/bundle/start/vim-airline"]
	path = .vim/pack/bundle/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/bundle/start/vim-airline-themes"]
	path = .vim/pack/bundle/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/bundle/start/ale"]
	path = .vim/pack/bundle/start/ale
	url = https://github.com/w0rp/ale
[submodule ".vim/pack/bundle/start/limelight.vim"]
	path = .vim/pack/bundle/start/limelight.vim
	url = https://github.com/junegunn/limelight.vim
[submodule ".vim/pack/bundle/start/vim-dadbod"]
	path = .vim/pack/bundle/start/vim-dadbod
	url = https://github.com/tpope/vim-dadbod
[submodule ".vim/pack/bundle/start/vim-heroku"]
	path = .vim/pack/bundle/start/vim-heroku
	url = https://github.com/tpope/vim-heroku
[submodule ".vim/pack/bundle/start/vim-rhubarb"]
	path = .vim/pack/bundle/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/pack/bundle/start/vim-sensible"]
	path = .vim/pack/bundle/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/bundle/start/vim-gradle"]
	path = .vim/pack/bundle/start/vim-gradle
	url = https://github.com/hdiniz/vim-gradle
[submodule ".vim/pack/bundle/start/base16-vim"]
	path = .vim/pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule ".vim/pack/bundle/start/gruvbox"]
	path = .vim/pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule ".vim/pack/bundle/start/vim-shfmt"]
	path = .vim/pack/bundle/start/vim-shfmt
	url = git://github.com/z0mbix/vim-shfmt
