[submodule "asdf/.asdf"]
	path = asdf/.asdf
	url = https://github.com/asdf-vm/asdf.git
[submodule "vim/.vim/pack/theme/opt/molokai"]
	path = vim/.vim/pack/theme/opt/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vim/.vim/pack/theme/opt/gruvbox"]
	path = vim/.vim/pack/theme/opt/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/theme/opt/dracula"]
	path = vim/.vim/pack/theme/opt/dracula
	url = https://github.com/dracula/vim.git
[submodule "vim/.vim/pack/theme/opt/iceberg"]
	path = vim/.vim/pack/theme/opt/iceberg
	url = https://github.com/cocopon/iceberg.vim.git
[submodule "vim/.vim/pack/theme/opt/jellybeans"]
	path = vim/.vim/pack/theme/opt/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/.vim/pack/tpope/opt/sensible"]
	path = vim/.vim/pack/tpope/opt/sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/pack/tpope/opt/commentary"]
	path = vim/.vim/pack/tpope/opt/commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/.vim/pack/tpope/opt/endwise"]
	path = vim/.vim/pack/tpope/opt/endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "vim/.vim/pack/tpope/opt/sleuth"]
	path = vim/.vim/pack/tpope/opt/sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "vim/.vim/pack/tpope/opt/projectionist"]
	path = vim/.vim/pack/tpope/opt/projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/.vim/pack/tpope/opt/dispatch"]
	path = vim/.vim/pack/tpope/opt/dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/.vim/pack/tpope/opt/fugitive"]
	path = vim/.vim/pack/tpope/opt/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/tpope/opt/abolish"]
	path = vim/.vim/pack/tpope/opt/abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "vim/.vim/pack/tpope/opt/apathy"]
	path = vim/.vim/pack/tpope/opt/apathy
	url = https://github.com/tpope/vim-apathy.git
[submodule "vim/.vim/pack/tpope/opt/surround"]
	path = vim/.vim/pack/tpope/opt/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/.vim/pack/tpope/opt/dadbod"]
	path = vim/.vim/pack/tpope/opt/dadbod
	url = https://github.com/tpope/vim-dadbod.git
[submodule "vim/.vim/pack/tpope/opt/unimpaired"]
	path = vim/.vim/pack/tpope/opt/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "vim/.vim/pack/tpope/opt/repeat"]
	path = vim/.vim/pack/tpope/opt/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/.vim/pack/junegunn/opt/goyo"]
	path = vim/.vim/pack/junegunn/opt/goyo
	url = https://github.com/junegunn/goyo.vim.git
[submodule "vim/.vim/pack/junegunn/opt/limelight"]
	path = vim/.vim/pack/junegunn/opt/limelight
	url = https://github.com/junegunn/limelight.vim.git
[submodule "vim/.vim/pack/junegunn/opt/fzf"]
	path = vim/.vim/pack/junegunn/opt/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/.vim/pack/junegunn/opt/emoji"]
	path = vim/.vim/pack/junegunn/opt/emoji
	url = https://github.com/junegunn/vim-emoji.git
[submodule "vim/.vim/pack/sheerun/opt/polyglot"]
	path = vim/.vim/pack/sheerun/opt/polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/.vim/pack/dense-analysis/opt/ale"]
	path = vim/.vim/pack/dense-analysis/opt/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "vim/.vim/pack/prabirshrestha/opt/lsp"]
	path = vim/.vim/pack/prabirshrestha/opt/lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule "vim/.vim/pack/rhysd/opt/lspale"]
	path = vim/.vim/pack/rhysd/opt/lspale
	url = https://github.com/rhysd/vim-lsp-ale.git
[submodule "vim/.vim/pack/fatih/opt/go"]
	path = vim/.vim/pack/fatih/opt/go
	url = https://github.com/fatih/vim-go.git
[submodule "vim/.vim/pack/rust-lang/opt/rust"]
	path = vim/.vim/pack/rust-lang/opt/rust
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/.vim/pack/prabirshrestha/opt/async"]
	path = vim/.vim/pack/prabirshrestha/opt/async
	url = https://github.com/prabirshrestha/async.vim
[submodule "vim/.vim/pack/prabirshrestha/opt/asyncomplete"]
	path = vim/.vim/pack/prabirshrestha/opt/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/.vim/pack/prabirshrestha/opt/asyncompletelsp"]
	path = vim/.vim/pack/prabirshrestha/opt/asyncompletelsp
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "vim/.vim/pack/tpope/opt/rake"]
	path = vim/.vim/pack/tpope/opt/rake
	url = https://github.com/tpope/vim-rake
[submodule "vim/.vim/pack/vim-crystal/opt/crystal"]
	path = vim/.vim/pack/vim-crystal/opt/crystal
	url = https://github.com/vim-crystal/vim-crystal.git
[submodule "vim/.vim/pack/natebosch/opt/lsc"]
	path = vim/.vim/pack/natebosch/opt/lsc
	url = https://github.com/natebosch/vim-lsc.git
[submodule "vim/.vim/pack/lifepillar/opt/mucomplete"]
	path = vim/.vim/pack/lifepillar/opt/mucomplete
	url = https://github.com/lifepillar/vim-mucomplete.git
[submodule "vim/.vim/pack/mattn/opt/emmet"]
	path = vim/.vim/pack/mattn/opt/emmet
	url = https://github.com/mattn/emmet-vim.git
[submodule "vim/.vim/pack/rottencandy/opt/kubectl"]
	path = vim/.vim/pack/rottencandy/opt/kubectl
	url = https://github.com/rottencandy/vimkubectl.git
[submodule "vim/.vim/pack/tpope/opt/eunuch"]
	path = vim/.vim/pack/tpope/opt/eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "vim/.vim/pack/altercation/opt/solarized"]
	path = vim/.vim/pack/altercation/opt/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
