* {
    font-family: "Hack Nerd Font Mono", monospace;
    font-size: 14px;
}

#waybar {
    background-color: black;
    color: white;
}

#custom-logo {
    margin-left: 0.5rem;
    font-size: 1.4rem;
}

#clock {
    margin-right: 0.5em;
}
